<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colegios App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
    <!-- Leaflet CSS and Script to display map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
</head>
<body>
<div id="app">
    <aside class="aside is-placed-left is-expanded">
        <div class="menu is-menu-main">
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'index' %}">
                        <span class="icon"> <i class="mdi mdi-home"></i></span>
                        <span class="menu-item-label">Inicio</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'colegios' %}">
                        <span class="icon"> <i class="mdi mdi-school"></i></span>
                        <span class="menu-item-label">Zona Colegios</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'municipios' %}">
                        <span class="icon"><i class="mdi mdi-map"></i></span>
                        <span class="menu-item-label">Zona Municipios</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="is-hero-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <a href="{% url 'index' %}">
                <h1 class="title">
                    Colegios APP
                </h1>
            </a>
        </div>
    </section>
    <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <ul>
                <li>App</li>
                <li>Zona Colegios</li>
            </ul>
        </div>
    </section>

    <section class="section main-section">
        <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>Nº de Colegios Totales</h3>
                            <h1><a>4005</a></h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-school mdi-48px"></i></span>
                    </div>
                </div>
            </div>
            <!-- Tarjetas de resultados de la búsqueda generales -->
            {% if nColegios != -1 %}
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>Nº de Colegios Encontrados</h3>
                                <h1><a>{{ nColegios }}</a></h1>
                            </div>
                            <span class="icon widget-icon text-blue-500"><i class="mdi mdi-school mdi-48px"></i></span>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
        <!--/end Tarjetas resultados generales -->

        <!-- Tarjeta Mapa -->
        <div class="card mb-6">
            <header class="card-header">
                <p class="card-header-title"><span class="icon"><i class="mdi mdi-map"></i></span>Mapa</p>
            </header>
            <div class="card-content">
                <div id="mapid"></div>
                <style type="text/css">
                    #mapid {
                        height: 360px;
                    }
                </style>
                <script type="application/javascript">
                    var map = L.map('mapid').setView([40.4023, -3.7024], 10);
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoicG9sa2lrbyIsImEiOiJja3Y5cDEzbWowOHVsMnltZ3c4bTh3OXUzIn0.8-noFY7CFElXvUkRJmSazw'
                    }).addTo(map);

                </script>

                <!-- Datos para generar makers en el mapa recibidos en JSON del backend -->
                <script type="application/javascript">
                    var listaColegios = JSON.parse("{{jsonList|escapejs}}");
                    for (let i = 0; i < listaColegios.length; i++) {
                        varXml = '<b>Nombre Colegio:</b> ' + listaColegios[i]["name"] + '<br>' +
                            '<b>Calle:</b> ' + listaColegios[i]["calle"] + '<br>' +
                            '<b>Código Postal:</b> ' + listaColegios[i]["codPost"] + '<br>' +
                            '<b>Municipio:</b> ' + listaColegios[i]["municipio"] + '<br>' +
                            '<b>Tipo de Colegio:</b> ' + listaColegios[i]["tipo"] + '<br>' +
                            '<b>Titularidad:</b> ' + listaColegios[i]["titula"] + '<br>';

                        L.marker([listaColegios[i]["yCoord"], listaColegios[i]["xCoord"]]).addTo(map).bindPopup(varXml);
                    }
                </script>
            </div>
        </div>
        <!-- /end Tarjeta Mapa -->

        <!-- Tarjeta Consultas -->
        <div class="card mb-6">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-database-search"></i></span>
                    Consultas
                </p>
            </header>
            <div class="card-content">
                <form method="post">
                    {% csrf_token %}
                    <input name="action" type="hidden" value="1">
                    <!--Nombre del Colegio-->
                    <div class="field">
                        <label class="label">Nombre del Colegio</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="nombreColegio" class="input" type="text" required
                                               placeholder="Introduzca un Nombre">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-school"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="field grouped">
                        <div class="control">
                            <button type="submit" class="button green">Buscar</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button red" id="btnClear">Borrar Nombre</button>
                        </div>
                    </div>
                </form>
                {% if action and action == 1 %}
                    <br/>
                    <label class="label">Resultados</label>
                    <div class="card has-table">
                        <div class="card-content">
                            <table id="nombreCol" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Calle</th>
                                    <th>Municipio</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in colList %}
                                    <tr>
                                        {% if item.url == "Sin web" %}
                                            <td data-label="Name">{{ item.name }}</td>
                                        {% else %}
                                            <td data-label="Name"><a href="{{ item.url }}">{{ item.name }}</a></td>
                                        {% endif %}
                                        <td data-label="Calle">{{ item.calle }}</td>
                                        <td data-label="Municipio">
                                            <img src="{{ item.svg }}" alt="img" title="{{ item.municipio }}"
                                                 style="width: 150px;height: 100px"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                $(function () {
                                    $('#nombreCol').DataTable({
                                        "paging": true,
                                        "lengthChange": false,
                                        "searching": false,
                                        "ordering": true,
                                        "info": true,
                                        "autoWidth": false,
                                        "responsive": true,
                                    });
                                });
                            </script>
                        </div>
                    </div>

                {% endif %}
            </div>
            <hr>
            <div class="card-content">
                <form method="post">
                    {% csrf_token %}
                    <input name="action" type="hidden" value="2">
                    <!--Tipo de Centro-->
                    <div class="field">
                        <label class="label">Tipo de Centro</label>
                        <div class="control">
                            <div class="select">
                                <label>
                                    <select name="tipoCentro" id="tipoCentro">
                                        <option>Educación Infantil</option>
                                        <option>Educación Primaria</option>
                                        <option>Educación Secundaria</option>
                                        <option>Otros</option>
                                        <option selected>Todos</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--Titularidad del Centro-->
                    <div class="field">
                        <label class="label">Titularidad del Centro</label>
                        <div class="control">
                            <div class="select">
                                <label>
                                    <select name="titCentro" id="titCentro">
                                        <option selected>Todos</option>
                                        <option>Privado</option>
                                        <option>Privado Concentrado</option>
                                        <option>Público</option>
                                        <option>Público-Titularidad Privada</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--Municipio-->
                    <div class="field">
                        <label class="label">Municipio</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="municipioC" id="municipioC" class="input" type="text"
                                               placeholder="Introduzca un Municipio">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-home-city"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Codigo Postal-->
                    <div class="field">
                        <label class="label">Código Postal</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="codigoP" id="codigoP" class="input" type="text"
                                               placeholder="Introduzca un Código Postal">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-map-marker"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Límite de resultados</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="limiteColegio2" class="input" type="number" min="1" value="1"
                                               placeholder="Introduzca un límite de colegios a buscar">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-format-list-numbered"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="field grouped">
                        <div class="control">
                            <button type="submit" class="button green">Buscar</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button red" id="btnClear">Borrar Todo</button>
                        </div>
                    </div>
                </form>
                {% if action and action == 2 %}
                    <div class="field">
                        <label class="label">Resultados</label>
                        <div class="field-body">
                            <div class="card has-table">
                                <div class="card-content">
                                    <table id="nombreColAdv" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Calle</th>
                                            <th>Municipio</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in colList2 %}
                                            <tr>
                                                {% if item.url == "Sin web" %}
                                                    <td data-label="Name">{{ item.name }}</td>
                                                {% else %}
                                                    <td data-label="Name"><a href="{{ item.url }}">{{ item.name }}</a>
                                                    </td>
                                                {% endif %}
                                                <td data-label="Calle">{{ item.calle }}</td>
                                                <td data-label="Municipio">
                                                    <img src="{{ item.svg }}" alt="img" title="{{ item.municipio }}"
                                                         style="width: 150px;height: 100px"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <script>
                                        $(document).ready(function () {
                                            $('#nombreColAdv').DataTable();
                                        });
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- /end Tarjeta Consultas -->

    </section>

    <!-- Main Footer -->
    <footer class="text-center footer-style"
            style="position:fixed; bottom: 0px;width: 100%;border-top: 1px solid #bfbbbb4f;z-index: 1;">
        <div class="container">
            <p>ColegiosApp - Grupo 01</p>
        </div>
    </footer>
</div>
</body>
</html>