<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Colegios App {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
    <!-- Leaflet CSS and Script to display map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
</head>
<body>

<div id="app">

    <aside class="aside is-placed-left is-expanded">
        <div class="menu is-menu-main">
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'index' %}">
                        <span class="icon"> <i class="mdi mdi-home"></i></span>
                        <span class="menu-item-label">Inicio</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'colegios' %}">
                        <span class="icon"> <i class="mdi mdi-school"></i></span>
                        <span class="menu-item-label">Zona Colegios</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-list">
                <li class="active">
                    <a href="{% url 'municipios' %}">
                        <span class="icon"><i class="mdi mdi-map"></i></span>
                        <span class="menu-item-label">Zona Municipios</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <section class="is-hero-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <a href="{% url 'index' %}">
                <h1 class="title">
                    Colegios APP
                </h1>
            </a>
        </div>
    </section>
    <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <ul>
                <li>App</li>
                <li>Zona Municipios</li>
            </ul>
        </div>
    </section>
    <section class="section main-section">
        <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
            <div class="card">
                <div class="card-content">
                    <div class="flex items-center justify-between">
                        <div class="widget-label">
                            <h3>
                                Nº de Municipios
                            </h3>
                            <h1>
                                154
                            </h1>
                        </div>
                        <span class="icon widget-icon text-green-500"><i class="mdi mdi-map mdi-48px"></i></span>
                    </div>
                </div>
            </div>
            {% if nMuni == 0 %}
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div>
                                <h2><b>No se encontraron Municipios</b></h2>
                            </div>
                            <span class="icon widget-icon text-blue-500"><i class="mdi mdi-map mdi-48px"></i></span>

                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
        <!-- Tarjeta Mapa -->
        <div class="card mb-6">
            <header class="card-header">
                <p class="card-header-title"><span class="icon"><i class="mdi mdi-map"></i></span>Mapa</p>
            </header>
            <div class="card-content">
                <div id="mapid"></div>
                <style type="text/css">
                    #mapid {
                        height: 360px;
                    }
                </style>
                <script type="application/javascript">
                    var map = L.map('mapid').setView([40.4023, -3.7024], 10);
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoicG9sa2lrbyIsImEiOiJja3Y5cDEzbWowOHVsMnltZ3c4bTh3OXUzIn0.8-noFY7CFElXvUkRJmSazw'
                    }).addTo(map);

                </script>

                <!-- Datos para generar makers en el mapa recibidos en JSON del backend -->
                <script type="application/javascript">
                    var municipio = JSON.parse("{{jsonList|escapejs}}");
                    for (let i = 0; i < municipio.length; i++) {
                        varXml = '<b>Municipio:</b> ' + municipio[i]["nomMuni"] + '<br>' +
                            '<b>Población:</b> ' + municipio[i]["numPobl"] + ' habitantes' + '<br>' +
                            '<b>Densidad:</b> ' + municipio[i]["densidad"] + ' habitantes / Km²' + ' <br>' +
                            '<b>Edad:</b> ' + municipio[i]["edad"] + ' años' + '<br>' +
                            '<b>Sexo:</b> ' + municipio[i]["sexo"] + '<br>';
                        L.marker([municipio[i]["yCoord"], municipio[i]["xCoord"]]).addTo(map).bindPopup(varXml);
                    }
                </script>
            </div>
        </div>
        <!-- /end Tarjeta Mapa -->
        <div class="card mb-6">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-database-search"></i></span>
                    Consulte la población de los Municipios de Madrid
                </p>
            </header>
            <div class="card-content">
                <form name="myForm" onsubmit="return validateForm();" method="post">
                    {% csrf_token %}
                    <!--Nombre Municipio-->
                    <div class="field">
                        <label class="label">Nombre del Municipio</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="nMunicipio" id="nMunicipio" class="input" type="text"
                                               placeholder="Introduzca un Nombre">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-home-city"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Sexo-->
                    <div class="field">
                        <label class="label">Sexo</label>
                        <div class="control">
                            <div class="select">
                                <label>
                                    <select name="sexoM" id="sexoM">
                                        <option>Hombre</option>
                                        <option>Mujer</option>
                                        <option selected="selected">Ambos</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--Edad Mínima-->
                    <div class="field">
                        <label class="label">Edad Mínima (años)</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="edadMin" id="edadMin" class="input" type="number" value="0"
                                               placeholder="Introduzca la edad mínima" min="0" max="199" step="5">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-counter"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Edad Máxima-->
                    <div class="field">
                        <label class="label">Edad Máxima (años)</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control icons-left">
                                    <label>
                                        <input name="edadMax" id="edadMax" class="input" type="number" value="4"
                                               placeholder="Introduzca la edad máxima" min="4" max="199" step="5">
                                    </label>
                                    <span class="icon left"><i class="mdi mdi-counter"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="field grouped">
                        <div class="control">
                            <button type="submit" class="button green">
                                Buscar
                            </button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button red">
                                Borrar Todo
                            </button>
                        </div>
                    </div>
                    {% if munList %}
                        <div class="field">
                            <label class="label">Resultados</label>
                            <div class="field-body">
                                <div class="card has-table">
                                    <div class="card-content">
                                        <table id="nombreCol">
                                            <thead>
                                            <tr>
                                                <th>Municipio</th>
                                                <th>Población</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in munList %}
                                                <tr>
                                                    <td data-label="Name">{{ item.nomMuni }}</td>
                                                    <td data-label="Calle">
                                                        {{ item.numPobl }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function validateForm() {

            var x = document.forms["myForm"]["edadMax"].value;
            var y = document.forms["myForm"]["edadMin"].value;
            if (Number(x) < Number(y)) {
                alert("La edad mínima debe ser menor que la máxima");
                return false;
            }
        }
    </script>
    {% block footer_block %}
        <!-- Main Footer -->
        <footer class="text-center footer-style"
                style="position:fixed; bottom: 0px;width: 100%;border-top: 1px solid #bfbbbb4f;z-index: 1;">
            <div class="container">
                <p>ColegiosApp - Grupo 01</p>
            </div>
        </footer>

    {% endblock %}
</div>
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>
</html>